* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
body {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background.png");
  line-height: 1.5;
  font-size: 18px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
body::after {
  content: "";
  z-index: -100;
  position: absolute;
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  display: block;
  background: linear-gradient(0deg, #2a2a2c 0%, rgba(45, 45, 47, 0) 100%);
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.title {
  font-weight: 400;
  font-family: "Oranienbaum", serif;
  color: #fff;
}
.title:first-child {
  font-size: 2rem;
}

.title__mobile {
  display: none;
}

.progress__bar progress,
progress::-webkit-progress-bar {
  transition: 0.6s;
  width: 100%;
  border-radius: 20px;
  background: #1a191f;
}
progress::-webkit-progress-value {
  background: linear-gradient(
    180deg,
    #fff1bf -65%,
    #ffefb7 32.02%,
    #ffd950 126.31%
  );

  border-radius: 20px;
}

.quez {
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
  background: rgba(37, 36, 41, 0.75);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px 30px;
}
.quez__text {
  opacity: 0.5;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.quez__phrase {
  max-width: 260px;
}
.quez__phrase p {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
}
.quez span {
  font-size: 14px;
  align-self: center;
}
.quez__items {
  cursor: pointer;
  gap: 20px;
}
.top {
  gap: 70px;
  display: flex;
  justify-content: space-between;
}
.quez__form {
  width: 650px;
  gap: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.quez__item:hover > .quez__radio {
  background-color: #fff;
}
input[type="radio"],
label span {
  font-size: 16px;
  padding-left: 3px;
  cursor: pointer;
}
input[type="radio"] {
  margin: 0;
  color: currentColor;
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #242429;
  position: relative;
  accent-color: #fff;
}
input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 10px;
  left: 0;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #fff;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
.quez__item span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.quez__item {
  width: 306px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px 0px;
  padding-left: 12px;
  color: #fff;
  background-color: #1a191f;
}
.quez__item:hover {
  color: #111;
  transition: 0.5s ease-in-out;
  background-color: #ffe99c;
}

.active-input {
  color: #111;
  transition: 0.5s ease-in-out;
  background-color: #ffe99c;
}
.quez__item span,
.quez__item .quez__radio {
  pointer-events: none;
}

.input-radio {
  padding-bottom: 5px;
  margin-left: 10px;
  color: #111;
  margin-top: 6px;
  border: none;
  width: 90%;
  border-bottom: 2px solid #111;
  background-color: transparent;
}
.input-radio:focus {
  outline: none;
}
.text__light {
  margin-top: -20px;
  font-family: Inter;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 400;
  color: #fff;
}
input[type="text"]:not(.input-radio) {
  color: #fff;
  padding-left: 20px;
}
label input[type="radio"]:checked {
  background-color: red;
}
.quez__input input {
  width: 100%;
  background-color: red;
}
.inps {
  width: 600px;
}
.quez__last {
  width: 98%;
}
input[type="text"]:not(.input-radio) {
  border: none;
  width: 90%;
  font-family: "Inter";
  padding-left: 28px;
  height: 70px;
  border-radius: 10px;
  font-size: 16px;
  background: #1a191f;
  color: #fff;
}

.btn,
.btn__sub {
  width: 326px;
  height: 90px;
  background-image: linear-gradient(
      96.73deg,
      #fff1bf -14.65%,
      #ffe99c 19.18%,
      #ffefb7 44.35%,
      #ffea9f 73.7%,
      #ffd950 101.69%
    ),
    url("../img/btn.png");
  background-size: cover;
  position: relative;
}
.btn:hover,
.btn__sub:hover {
  transition: 0.4s;
  filter: brightness(90%);
}
.btn__block {
  position: relative;
}
.btn__block::after {
  content: "";
  width: 317px;
  height: 20px;
  transform: translateX(4px);
  position: absolute;
  bottom: -7px;
  z-index: -100;
  background-color: #af9b55;
  border-radius: 9px;
}
.quez__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn,
.btn__sub {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  display: block;
  font-weight: bolder;
  border-radius: 8px;
}

.btn__group {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.last__ques {
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.last__ques:hover {
  text-decoration: underline;
}
.thanks {
  text-align: center;
  align-self: center;
  max-width: 700px;
}
.progress__bar ~ .title__main {
  width: 60%;
  margin: 20px 0;
}
.not-width {
  width: 100%;
}
@media screen and (max-width: 1080px) {
  .container {
    align-items: center;
  }
  .top {
    flex-wrap: wrap;
  }

  .quez__phrase {
    display: none;
  }
  .quez {
    width: 85vmax;
  }
}
@media screen and (max-width: 980px) {
  .progress__bar ~ .title__main {
    width: 100%;
  }
  .progress__bar {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
  }
  progress {
    margin-top: 60px;
  }
}
@media screen and (max-width: 820px) {
  .wrap {
    width: 100%;
  }
  .last__ques {
    margin: 40px 0;
  }
  .quez__item {
    width: 90%;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quez__form {
    width: 100%;
    flex-wrap: wrap;
  }
  .btn__group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .quez__items,
  .quez,
  .quez__form {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .quez__phrase {
    max-width: 600px;
  }
}
.title__large {
  text-align: center;
}
@media screen and (max-width: 680px) {
  .title__main {
    text-align: center;
  }

  .title__mobile {
    display: block;
  }
  .title__mobile span {
    font-size: 2rem;
  }
  .quez__items {
    flex-wrap: wrap;
    width: 100%;
  }
  .quez__form {
    width: auto;
  }
  body::after {
    left: 0;
    top: 0;
  }
}
@media screen and (max-width: 608px) {
  .quez {
    width: 78vmax;
  }
}

@media screen and (max-width: 570px) {
  .quez {
    width: 68vmax;
  }
}
@media screen and (max-width: 475px) {
  .quez__phrase {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quez {
    width: 96%;
    background-color: #2a2a2c;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .title__main {
    text-align: left;
    max-width: 500px;
  }
}

@media screen and (max-width: 440px) {
  .title__large {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .quez {
    width: 58vmax;
  }
}
@media screen and (max-width: 412px) {
  .wrap {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .container {
    width: 96%;
  }
  .btn {
    width: 250px;
  }
  .btn__block::after {
    width: 97%;
  }
  .quez__form {
    width: 100%;
  }
  .quez {
    width: 95%;
  }
  .quez__item {
    width: 100%;
  }
}
@media screen and (max-width: 340px) {
  .quez__form {
    display: flex;
    justify-content: flex-start;
  }
  .container {
    width: 97%;
  }
  .quez {
    width: 100%;
  }
  .quez__item {
    width: 100%;
  }
  .last__ques {
    text-align: center;
  }
  .btn {
    width: 60vmin;
  }
  .title__main {
    font-size: 20px;
  }
}
